/****** GENERAL STYLING ******/
/*  Body  */
.body {
    margin: 0;
}

/* Heading 1 elements */
h1 {
    text-transform: uppercase; /*Capitalizing all h1 headings */
    font-family: "Trebuchet MS", Optima;  /*Sets the font family of all h1 headings */
    margin-top: 3%;  /* Adds a small margin above h1 elements */
    color: #222222;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, 0.4);
}

/* Paragraph elements */
.heading {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.45em;
}

p {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.25em;
    color: rgb(105, 105, 105);
}

.quote {
    font-family: 'Helvetica', sans-serif;
    color: rgb(238, 238, 238);
}

/*  Center class - this applies to all elements with the class "center"  */
.center {
    text-align: center;  /*  This center aligns the text  */
}

/*  Anchor elements  */
a {
    color: blue;
}

/* Quotation elements */
q {
    font-style: italic;  /* This makes the quote italicized */
}

/* This targets the heading paragraph from about page */
.heading {
    color: rgb(43, 43, 43);
}

/* Targets the first paragraph before the github image on the homepage */
.firstp {
visibility: visible;
}
/*Targets the second paragraph before the github image on the homepage */
.ontop {
    visibility: hidden;
}

/* Targets the two paragraphs before the GitHub Image on the homepage */
@media screen and (max-width: 500px) {
    .firstp {
        visibility: hidden;
    }
    .ontop {
        visibility: visible;
        margin-top: -17vw;
    }
}
/* Image elements */
.imgcenter {
    filter: grayscale(70%);  /* This rids our picture of 60% of theyr color */
    border-radius: 8px;  /* Gives all images slightly rounded corners */
    margin-left: auto;  /* This sets the left margin auto */
    margin-right: auto;  /* This sets the right margin auto */
    display: block;  /* This sets the display to block, allowing us to center the image */
    box-shadow: 2px 2px 2px rgba(0,0,0,0.4);  /* This gives a shadow to images */
}

/* This targets the github image in the homepage */
#center {
    filter: grayscale(70%);
    border-radius: 4px;
    margin-left: auto;  /* This sets the left margin auto */
    margin-right: auto;  /* This sets the right margin auto */
    display: block;  /* This sets the display to block, allowing us to center the image */
    position: relative;  /* This sets the image relative to its position, allowing us to use the animation below */
}

/* Targets the GitHub image when screen is 576px or less */
@media screen and (max-width: 576px) {
    #center  {
        width: 230px;
        height: 230px;
    }
}
/* This targets all the images with scale class in the about page */
.scale {
    box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/* Image element hover effects */
.imgcenter:hover {
    filter: grayscale(5%);  /* This gives back some color to the image when hovered over */
    -webkit-animation: moveUp 1000s; /* Animation for Safari 4.0-8.0 */
    animation: moveUp 1000s; /* Animation for all other browsers */
    box-shadow: 6px 16px 10px rgba(0,0,0,0.5);
    position: relative;
}

/* This animation is for images on homepage excluding the github image */
@keyframes moveUp {
    from {top: -0.6vw;}
    to {top: -0.6vw;}
}

/* This targets all the images with scale class in the about page */
.scale:hover {
    transition: transform 1s;
    transform: scale(1.3);
    box-shadow: 6px 6px 6px 6px rgba(0,0,0,0.5);
}

/* Github Image hover effect */
#center:hover {
    transition: transform 2s;  /* Transition will last 2 seconds */
    animation-iteration-count: 1;  /* This sets how many times will the animation play */
    transform: rotate(360deg);  /* The image will rotate 360 degrees */
    -webkit-animation: gitMove 2s;  /* Animation for Safari 4.0 - 8.0 */
    animation: gitMove 2s;  /* Animation for all other browsers, for 2 seconds */
    filter: grayscale(5%);
}

/* Github Image Hover animation effect */
@keyframes gitMove {
    0% {right: 0vw;}  /* This sets the starting position of the animation */
    50% {right: 5vw;}  /* This sets the position of the animation when it reaches 50% */
    100% {right: 0vw;}  /* This is the end position of the animation */
}


/**** END GENERAL STYLING  *****/



/**** VIDEO STYLING ****/
/*  Formatting for background vide  */
#Coding_video {
    position: fixed;  /*  This fixes the video to the page  */
    top: -15.5vw;  /*  This ensures the top part of the video goes above the viewport of the web page by 8.5vw  */
    right: 0;  /*  This ensures there is no space between the edge of the video and the edge of the page  */
    bottom: 0;  /*  This ensures no space between the bottom of the video and the bottom of the page  */ 
    min-width: 100%;  /*  This ensures the video is displayed across the full width of the page  */
    z-index: -1;  /*  This places the video behind the other elements on the page  */
}

/* Screens that are 576px and smaller will adjust the video display  */
@media screen and (max-width: 576px) {
    #Coding_video {
        left: -231vw;
        top: -30.5vw;
    }
}

/*  Text over the video  */
.wrapper {
    width: 100%;  /*  Ensures the vide-text container fills the width of the video  */
    background-color: rgba(0,0,0,0.5);  /*  This provides a semi-transparent background for the text to sit over  */
    padding: 20px;  /*  This adds padding around the video-text container so that the background goes slightly beyound the text  */
    color: white;  /*  Makes the font color white  */
    position: relative;  /*  This sets the text relative to its normal positioning, allowing us to use the animation below  */
    -webkit-animation: moveVideoText 3s;  /*  Animation for Safari 4.0 - 8.0  */
    animation: moveVideoText 3s;  /*  Applies the moveNavText animation for 5.75s  */
}

/*  This animation effect causes the overlay video text to move up from the top of the page upon page load  */
@keyframes moveVideoText {
    from {top: -100vw;}  /*  This sets the position of the video text above the viewport  */
    to {top: 0vw;}  /*  This moves the video text to the normal position on the viewport  */
}

/**** END OF VIDEO STYLING  ****/



/**** NAVBAR STYLING ****/
.Navbar {
    overflow: hidden;  /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: black;  /* This colors the navbar black */
    position: fixed;  /* This keeps the navbar at the top of the screen as we scroll */
    top: 0;  /* This ensures no space is displayed above the navbar */
    width: 100%;  /* This makes the navbar span the entire width of the page */
    z-index: 20;  /* This ensures other elements don't display over the navbar */ 
}

/* Navbar links */
.Navbar a {
    float: left;  /* This specifies that the text floats on the left on the navbar */
    display: block;  /* This ensures that other text will be displayed on the same line or row, instead of a new line */
    color: white;  /* This is the font color for the text on our navbar */
    margin-right: 0.75vw;  /* This ensures there is a bit of distance between navbar links and would not step one on top of another */
    padding: 16px 20px;  /* This adds padding around our text */
    text-decoration: none;  /* This gets rid of the underlines under the text on our navbar */
    font-family: 'Helvetica', sans-serif;  /* This specifies the font family for the text on our navbar */
    font-size: 20px; /* This specifies the font size for text on our navbar */
    text-align: center;  /* This centers the text within its container on the navbar */
}

/* Screens 576px and smaller will display navbar links equally distributed */
@media screen and (max-width: 576px) {
    .Navbar a {
        width: 25%;  /* This makes each link take up 1/4 of the navbar */
        font-size: 12px;  /* This lowers the font size for screen width lower than 576px */
        margin-right: 0; /* This removes the margin-right so that it looks good on phone screens */
    }
}

/* Navbar hover effects */
.Navbar a:hover {
    background-color: #e7e7e7; /* Defines the background color that will display when you hover over the link */
    color: black;  /* This defines the font color that will display when navbar a elements are hovered over */
    font-weight: bold;  /* This makes the text on the navbar bold when hovered over */
}

/* Navbar Home icon */
.fas {
    font-size: 25px;  /* This enlarges the home Icon on the navbar */
}

/* Navbar Home button */
.Navbar a.active {
    background-color: darkgrey;
}
/****  END OF NAVBAR STYLING ****/



/**** CONTENT STYLING ****/
/* This will style the main container of the content */
.container-fluid {
    background-color: #f5f5f5;
    display: flex;
}

/* This will style just the Short Bio container */
#Bio {
    border: 1px solid rgba(0,0,0,0.5);
}

/* This will be the underlines or abovelines */
h3::before {
    display: block;
    content: "";
    height: 2px;
    width: 70%;
    background: #790303;
    margin:  5px auto 40px;
    box-shadow: 5px 2px 3px rgba(128, 128, 128, 0.6);
}

h4::before {
    background: rgb(12, 12, 19);
    display: block;
    content: "";
    height: 5px;
    width: 100%;
    margin: 5px auto 10px;
}

h1::after {
    background-color: #790303;
    content: "";
    display: block;
    height: 5px;
    width: 30%;
    margin: 5px;
    box-shadow: 5px 2px 3px rgba(128, 128, 128, 0.6);
    border-radius: 5px;
}
/**** END OF CONTENT STYLING ****/



/**** Before footer and Footer Styling ****/
/* Targets the HTML em tag */
#beforefooter li em {
    color: #5c5c5c;  /* This sets the color of the text */
    text-align: center;
}

/* Targets the icons in the container before the footer */
#beforefooter li .fab {
    font-size: 80px;
    color: #f4f4f4;
}

#beforefooter li {
    display: inline-block;
    padding: 0 50px;
}

/* This targets the icons in the footer */
.fab {
    font-size: 40px;
}

/* Targets the Icons in the container before the footer and in the footer Hover effect */
#beforefooter .fab:hover {
    transition: transform .3s;
    transform: scale(1.2);
    color: #790303;
}

#footericons .fab:hover {
    transition: transform .3s;
    transform: scale(1.2);
    color: #790303;
}

/* Screens with 576px or less will display the beforefooter differently */
@media screen and (max-width: 576px) {
    #beforefooter li .fab {
        font-size: 50px;
        display: unset;
        float: none;
    }
    #beforefooter li em {
        color: #5c5c5c;
    }
    #beforefooter {
        width: 100%;
    }
    #beforefooter li {
        margin-top: -30px;
        margin-bottom: -30px;
    }
    
}
/* This targets the anchors in the footer */
#footericons a {
    text-decoration: none;
    color: #1d1d22;
    list-style: none;
}

/* This targets the buttons in the footer */
#footer li {
    list-style: none;
    text-decoration: none;
    display: block;
    padding: 15px;
    background: #d6d6d6;
    width: 35%;
    text-align: center;
    border: 1px solid #5c5c5c;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    position: relative;
    cursor: pointer;
    margin: 20px;
    
}

/* Footer buttons hover effect */
#footer li:hover {
    transition: transform .3s;
    transform: scale(1.1);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    background-color: #afafaf;
    font-weight: bold;
}

/* Footer background color */
#footer {
    background-color: #f4f4f4;
}

/* Targets the paragraph element in the footer */
#smalltext {
    font-family: "Courier New", sans-serif;
    color: rgb(141, 141, 141);
    font-size: small;
}

/* Targets the footer buttons when screen size is 576px or less */
@media screen and (max-width: 576px) {
    #footer {
        width: 100%;
    }
    #footer li {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
    }
}
/**** END Before footer and Footer Styling ****/

/**** Sidebar STYLING ****/

.sidebar {
    position: fixed;
    top: 5vw;
    padding: 0.3vw;
    min-width: 200px;
    height: 700px;
    z-index: 1;
    width: 17%;
    overflow: auto;
    font-weight: 700;
    display: block;
}
#sidebar a {
    text-decoration: none;
}
.sidebar li {
    list-style: none;
    text-decoration: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    padding: 0.5vw;
}
.sidebar li:hover {
    text-decoration: underline;
    color: rgb(95, 0, 0);
}
.sidebar li a {
    color: black;
    text-decoration: none;
}
.sidebar li:hover .fab, a {
    transition: transform .5s;
    transform: scale(1.2);
    color: rgb(49, 1, 1);
}
@media screen and (max-width: 1900px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: 20vw;
        padding: 1vw;
        float: left;
        top: 0;
    }
    .sidebar li {
        display: inline-block;
        list-style: none;
        text-decoration: none;
        padding: 1vw;
        color: #5c5c5c;
    }
    .container-fluid #sidebarrow {
        width: 100%;
        float: left;
        top: 0;
    }
    .sidebar li .fab {
        color: #f4f4f4;
    }
}
@media screen and (max-width: 676px) {
    .sidebar {
        position: relative;
        width: 100%;
        height: 56vw;
        padding: 5vw;
        top: 0;
    }
    .sidebar li {
        list-style: none;
        text-decoration: none;
        padding: 1vw;
        float: left;
        width: 100%;
        color: #5c5c5c;
    }
    .container-fluid #sidebarrow {
        top: 0;
    }
    .sidebar li .fab {
        color: white;
    }
}
/**** END SIDEBAR STYLING ****/

/**** CONTACT STYLING ****/
/* input[type=text] targets all text input sections of the contact form */
input[type=text] {
    width: 100%; /* Each input box covers the full width of the container */
    padding: 0.35vw; /* Adds padding within the text box */
    border: 1px solid #ccc; /* Setting a solid border and its color */
    border-radius: 4px; /* Slightly rounds the corners of the text box border */
    box-sizing: border-box; /* This creates a box with a border around the contact form input boxes */
    margin-top: 6px; /* Adds a margin to the top of the text box */
    margin-bottom: 16px; /* Adds a margin to the bottom of the text box */
    resize: vertical; /* This allows the user to resize the text boxes vertically */
    font-family: 'Courier New', sans-serif;
}

/* Hover effect fo input boxes */
input[type=text]:hover {
    box-shadow: 0 0 5px rgba(29, 29, 29, 0.5) inset; /* This creates a blue shadow in the text box (inset=inside of box) when hovered over by the user */
}

/* Submit button */
input[type=submit] {
    background-color: black; /* Sets the background clor fo the submit button to black */
    color: white; /* Sets the font color of the submit button to white */
    font-weight: bold; /* Makes the font of the submit button bold */
    padding: 10px 20px; /* Adds padding to the submit button */
    border: none; /* Removes the border from the submit button */
    border-radius: 4px; /* Gives the submit button the same rounded corners as the text boxes */
    cursor: pointer; /* changes the cursor to pointer when over the submit button */
    display: block; /* Allows the submit button to be centered */
    margin-left: auto; /* In combination with "margin-right: auto" this will center the submit button */
    margin-right: auto;
    font-family: 'Courier New', sans-serif;
}

/* Hover effect for submit button */
input[type=submit]:hover {
    background-color: rgb(189, 189, 189); /* Turns the background of the submit button white when the user hovers over it */
    color: black; /* Turns the font black when hovered over */
    transform: scale(1.3); /* Makes the button increase 1.3 times in size */
    transition: transform .3s; /* Makes the transform effect last .3 seconds */
}

/* Form element */
form {
    border-radius: 5px; /* Rounds the corners of the contact form */
    background-color: #f2f2f2;
    padding: 1vw; /* Adds padding to the contact form */
    font-family: 'Lucida Console', sans-serif;
}

/* Targets the image on the contact page */
.contactimg {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}

/**** END CONTACT STYLING ****/

/**** MODAL STYLING ABOUT PAGE ****/
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* targets the thumbnail images, making them smaller and float left */
.column {
    float: left;
    width: 12%;
}
/* Targets the thumbnail images appart the first thumbnail image! */
.columnmargin {
    margin-left: -24px;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 22;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content,
.modal-content .container-fluid {
    position: relative;
    background-color: #030303;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1450px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #999;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(235, 235, 235);
}

.mySlides {
    display: none;
}

.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(168, 168, 168, 0.8);
    color: rgb(12, 12, 19);
}

/* Number text (1/6 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 17px;
}
/* Targets the thumbnail images */
.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}
/* How fast shadow appears when images are howered */
img.hover-shadow {
    transition: 0.3s;
}
/* Targets all images with this class and applies shadow */
.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

/* When screen is 762px or smaller, the close button is smaller */
@media (max-width: 762px) {
    .btn-close {
        font-size: 15px;
    }
}

/**** END MODAL STYLING ****/

/* CONTACT PAGE EMAIL CARD */
/* Targets the Send Email card column */
.row .col-sm-9 {
    margin-left: 90px;
}

/* Targets the Send Email card */
.row .col-sm-9 .card {
    background-color: #ebebeb;
    border-radius: 5px;
    border: none;
}

/* Targets the Send Email card Button */
.text-center .btn {
    color: white;
    padding: 4px 70px;
    border-radius: 25px;
}
/* Targets the send Email card button when hovered */
.text-center .btn:hover {
    color: #790303;
    font-weight: bold;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}
/* Targets the icon inside the button on Send Email Card */
.text-center .btn .fa-location-arrow {
    font-size: 18px;
}

/* Targets the Send Email card when screen is 1000px or smaller */
@media (max-width: 1000px) {
    .text-center .btn {
        padding: 4px 40px;
    }
}

/* Targets the Send Email card when screen is 700px or smaller */
@media (max-width: 750px) {
    .row .col-sm-9 {
        margin: auto;
    }
    .text-center .btn {
        padding: 4px 70px;
    }
}